USE [master]
GO
/****** Object:  Database [Platform]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE DATABASE [Platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Platform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Platform]
GO
/****** Object:  User [admin]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [App]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE SCHEMA [App]
GO
/****** Object:  Schema [Auth]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE SCHEMA [Auth]
GO
/****** Object:  Schema [Finance]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE SCHEMA [Finance]
GO
/****** Object:  Schema [Inventory]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Table [App].[Countries]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Countries](
	[Alpha2Code] [nvarchar](2) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Alpha3Code] [nvarchar](3) NULL,
	[Capital] [nvarchar](100) NULL,
	[Region] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Alpha2Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[ServiceCountries]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[ServiceCountries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [App].[Services]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[SupplierId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
	[HourlyValue] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Accounts]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Accounts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Type] [varchar](255) NOT NULL,
	[Provider] [varchar](255) NOT NULL,
	[ProviderAccountId] [varchar](255) NOT NULL,
	[RefreshToken] [text] NULL,
	[AccessToken] [text] NULL,
	[ExpiresAt] [bigint] NULL,
	[IdToken] [text] NULL,
	[Scope] [text] NULL,
	[SessionState] [text] NULL,
	[TokenType] [varchar](255) NULL,
 CONSTRAINT [PK__Accounts__3213E83FFFBE8431] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Permissions]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Permissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Permissions__3213E83F8986953C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[RolePermissions]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[RolePermissions](
	[RoleId] [uniqueidentifier] NOT NULL,
	[PermissionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__RolePermissions__RoleId_PermissionId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Roles]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Roles__3213E83F8E286D4E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Sessions]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Sessions](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionToken] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Expires] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Sessions__3213E83F6D1DFCA1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserRoles]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserRoles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__UserRoles__6EDEA1531A203E84] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Users]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](500) NULL,
	[Image] [varchar](500) NULL,
	[Phone] [varchar](50) NULL,
	[UserTypeId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ExtraData] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Users__3213E83F49253023] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserTypes]    Script Date: 4/10/2025 12:30:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Theme] [nvarchar](100) NULL,
	[DefaultLandingPage] [nvarchar](100) NULL,
	[LogoUrl] [nvarchar](1000) NULL,
	[AdditionalConfig] [nvarchar](max) NULL,
	[Language] [nvarchar](50) NULL,
 CONSTRAINT [PK__UserTypes__3213E83F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [App].[Countries] ([Alpha2Code], [Name], [Alpha3Code], [Capital], [Region], [CreatedAt], [UpdatedAt]) VALUES (N'AD', N'Andorra', N'AND', N'Andorra la Vella', N'Europe', CAST(N'2025-10-02T22:53:38.1900000' AS DateTime2), NULL)
INSERT [App].[Countries] ([Alpha2Code], [Name], [Alpha3Code], [Capital], [Region], [CreatedAt], [UpdatedAt]) VALUES (N'AE', N'United Arab Emirates', N'ARE', N'Abu Dhabi', N'Asia', CAST(N'2025-10-02T22:53:38.1900000' AS DateTime2), NULL)
INSERT [App].[Countries] ([Alpha2Code], [Name], [Alpha3Code], [Capital], [Region], [CreatedAt], [UpdatedAt]) VALUES (N'AF', N'Afghanistan', N'AFG', N'Kabul', N'Asia', CAST(N'2025-10-02T22:53:38.1900000' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [App].[ServiceCountries] ON 

INSERT [App].[ServiceCountries] ([Id], [ServiceId], [CountryCode], [CreatedAt], [UpdatedAt]) VALUES (5, N'72a41c2a-8a48-4415-978d-ed8989437748', N'BR', CAST(N'2025-10-02T23:13:49.5566667' AS DateTime2), NULL)
INSERT [App].[ServiceCountries] ([Id], [ServiceId], [CountryCode], [CreatedAt], [UpdatedAt]) VALUES (6, N'72a41c2a-8a48-4415-978d-ed8989437748', N'CM', CAST(N'2025-10-02T23:13:49.5566667' AS DateTime2), NULL)
INSERT [App].[ServiceCountries] ([Id], [ServiceId], [CountryCode], [CreatedAt], [UpdatedAt]) VALUES (7, N'72a41c2a-8a48-4415-978d-ed8989437748', N'CO', CAST(N'2025-10-02T23:13:49.5566667' AS DateTime2), NULL)
SET IDENTITY_INSERT [App].[ServiceCountries] OFF
GO
INSERT [App].[Services] ([Id], [SupplierId], [Name], [Description], [Status], [HourlyValue], [CreatedAt], [UpdatedAt]) VALUES (N'8bef8f97-1ff2-4185-81b5-242a357a9ff4', N'10000000-0000-0000-0000-000000000003', N'servicio para maria gomez', N'ejemplo', 1, CAST(9000.00 AS Decimal(18, 2)), CAST(N'2025-10-03T06:27:01.4366166' AS DateTime2), CAST(N'2025-10-03T06:27:01.4366168' AS DateTime2))
INSERT [App].[Services] ([Id], [SupplierId], [Name], [Description], [Status], [HourlyValue], [CreatedAt], [UpdatedAt]) VALUES (N'4c9927cd-d08e-44f4-826a-539393d02345', N'10000000-0000-0000-0000-000000000007', N'Test lista desplegable', N'Test lista desplegable', 1, CAST(800.00 AS Decimal(18, 2)), CAST(N'2025-10-03T05:39:16.6365485' AS DateTime2), CAST(N'2025-10-03T05:39:16.6365486' AS DateTime2))
INSERT [App].[Services] ([Id], [SupplierId], [Name], [Description], [Status], [HourlyValue], [CreatedAt], [UpdatedAt]) VALUES (N'fed40d27-d37e-4190-8c15-6a9513feb9a8', N'10000000-0000-0000-0000-000000000004', N'Mensajería Medellin', N'Mensajería en la ciudad de Medellin ', 1, CAST(95.00 AS Decimal(18, 2)), CAST(N'2025-10-03T02:20:27.6228138' AS DateTime2), CAST(N'2025-10-03T02:20:27.6228140' AS DateTime2))
GO
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'e1d93604-6a4b-4468-ae77-00ea465042a0', N'users.update', N'Actualizar información de usuarios', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'5449c302-93c8-4670-ba28-0567dba694ba', N'user_types.read', N'Consultar tipos de usuario', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'8b2c5a4c-6945-4739-a918-057854dc8593', N'system.maintenance', N'Acceder al modo de mantenimiento', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
GO
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'e1d93604-6a4b-4468-ae77-00ea465042a0')
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'2c0e910c-92fe-4a1a-b46c-2cfd10049295', N'5449c302-93c8-4670-ba28-0567dba694ba')
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'5449c302-93c8-4670-ba28-0567dba694ba')
GO
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'13131313-1313-1313-1313-131313131313', N'Vendedor', N'Gestión de ventas y atención a clientes', 1, CAST(N'2025-09-13T16:26:43.5423956' AS DateTime2), NULL)
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'14141414-1414-1414-1414-141414141414', N'Almacenero', N'Gestión de inventario y movimientos de stock', 1, CAST(N'2025-09-13T16:26:43.5423960' AS DateTime2), NULL)
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'15151515-1515-1515-1515-151515151515', N'Empleado', N'Acceso básico a funcionalidades según su área', 1, CAST(N'2025-09-13T16:26:43.5423964' AS DateTime2), CAST(N'2025-10-04T09:59:24.7358396' AS DateTime2))
GO
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'13131313-1313-1313-1313-131313131313', N'10000000-0000-0000-0000-000000000008')
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'15151515-1515-1515-1515-151515151515', N'10000000-0000-0000-0000-000000000006')
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'15151515-1515-1515-1515-151515151515', N'10000000-0000-0000-0000-000000000007')
GO
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000001', N'Super Admin', N'', N'admin@platform.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', N'https://img.freepik.com/vector-premium/iconos-administrador_933463-89079.jpg', N'', N'11111111-1111-1111-1111-111111111111', CAST(N'2025-09-13T16:26:43.6430366' AS DateTime2), CAST(N'2025-10-03T19:21:44.4027680' AS DateTime2), N'{}', 1)
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000002', N'Juan Pérez', N'', N'juan.perez@platform.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', NULL, N'', N'11111111-1111-1111-1111-111111111111', CAST(N'2025-09-13T16:26:43.6430380' AS DateTime2), CAST(N'2025-10-02T18:01:32.3485372' AS DateTime2), N'{}', 1)
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000003', N'María González', N'', N'maria.gonzalez@platform.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', NULL, N'', N'51bbeb89-b07f-4293-b185-dd96fcb9de1e', CAST(N'2025-09-13T16:26:43.6430390' AS DateTime2), CAST(N'2025-10-03T01:38:29.4782941' AS DateTime2), N'{}', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceCountries_UniquePair]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ServiceCountries_UniquePair] ON [App].[ServiceCountries]
(
	[ServiceId] ASC,
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_UserId]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_UserId] ON [Auth].[Accounts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__6786C2C75307AB87]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Accounts__6786C2C75307AB87] ON [Auth].[Accounts]
(
	[Provider] ASC,
	[ProviderAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissions__72E12F1B1B3B2B3F]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Permissions__72E12F1B1B3B2B3F] ON [Auth].[Permissions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionId]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionId] ON [Auth].[RolePermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1B32068C24]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Roles__72E12F1B32068C24] ON [Auth].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sessions_UserId]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sessions_UserId] ON [Auth].[Sessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [Auth].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_UserTypeId]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserTypeId] ON [Auth].[Users]
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616447836532]    Script Date: 4/10/2025 12:30:49 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Users__AB6E616447836532] ON [Auth].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [App].[Countries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [App].[ServiceCountries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [App].[Services] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [App].[Services] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Accounts] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Auth].[Roles] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Sessions] ADD  CONSTRAINT [DF__Sessions__Id__0B91BA14]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__Id__628FA481]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__6383C8BA]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__UpdatedAt__6477ECF3]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__ExtraData__656C112C]  DEFAULT (N'{}') FOR [ExtraData]
GO
ALTER TABLE [Auth].[UserTypes] ADD  CONSTRAINT [DF__UserTypes__Id__66603565]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[UserTypes] ADD  CONSTRAINT [DF__UserTypes__Statu__6754599E]  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [App].[ServiceCountries]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCountries_CountryCode] FOREIGN KEY([CountryCode])
REFERENCES [App].[Countries] ([Alpha2Code])
ON DELETE CASCADE
GO
ALTER TABLE [App].[ServiceCountries] CHECK CONSTRAINT [FK_ServiceCountries_CountryCode]
GO
ALTER TABLE [App].[ServiceCountries]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCountries_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [App].[Services] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [App].[ServiceCountries] CHECK CONSTRAINT [FK_ServiceCountries_ServiceId]
GO
ALTER TABLE [App].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [Auth].[Users] ([Id])
GO
ALTER TABLE [App].[Services] CHECK CONSTRAINT [FK_Services_SupplierId]
GO
ALTER TABLE [Auth].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK__Accounts__UserId__3F466844] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[Accounts] CHECK CONSTRAINT [FK__Accounts__UserId__3F466844]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermissions__Permission] FOREIGN KEY([PermissionId])
REFERENCES [Auth].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK__RolePermissions__Permission]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermissions__Role] FOREIGN KEY([RoleId])
REFERENCES [Auth].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK__RolePermissions__Role]
GO
ALTER TABLE [Auth].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK__Sessions__UserId__440B1D61] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[Sessions] CHECK CONSTRAINT [FK__Sessions__UserId__440B1D61]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__RoleId__4F7CD00D] FOREIGN KEY([RoleId])
REFERENCES [Auth].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__RoleId__4F7CD00D]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserId__4E88ABD4] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserId__4E88ABD4]
GO
ALTER TABLE [Auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([UserTypeId])
REFERENCES [Auth].[UserTypes] ([Id])
GO
ALTER TABLE [Auth].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO
USE [master]
GO
